/* Safety Pic */

#safety {
   max-width: 800px;
   min-width: 800px;
   margin: auto;
   line-height: 1.8;
   font-weight: bold;
   margin-top: 1rem;
   overflow: hidden;
}

#safety .safetyContainer {
   display: flex;
   width: 100%;
   height: 500px;
}

#safety h3 {
   color: #f4f4f4;
   padding: 0.7rem;
   padding-left: 3rem;
   width: 700px;
   margin-bottom: 2rem;
   font-size: 1.4rem;
}

.safetyContainer > div {
   min-width: 800px;
   padding-left: 2.5rem;
   margin-top: 1rem;
}

#safety .box {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

#safety p {
   font-size: 1.4rem;
   margin-top: -4rem;
   padding: 1rem;
   margin-right: 1.5rem;
}

#safety .s1 h3 {
   background-color: rgb(37, 122, 62);
}
#safety .s2 h3 {
   background-color: rgb(18, 106, 184);
}
#safety .s3 h3 {
   background-color: rgb(189, 189, 58);
}
#safety .s4 h3 {
   background-color: rgb(253, 182, 48);
}
#safety .s5 h3 {
   background-color: rgb(185, 27, 27);
}
#safety .s6 h3 {
   background-color: rgb(138, 14, 150);
}
#safety button {
   padding: 2rem;
   margin: 2rem;
   margin-top: -2rem;
}
#safety i {
   opacity: 0.6;
   transition: 0.3s ease-in-out;
   color: rgb(22, 110, 182);
}
#safety i:hover {
   opacity: 1;
   color: rgb(22, 74, 117);
}

#safety #prevBtn {
   position: absolute;
   top: 50%;
   z-index: 10;
   left: 5%;
   font-size: 50px;
   cursor: pointer;
}

#safety #nextBtn {
   position: absolute;
   top: 50%;
   z-index: 10;
   right: 5%;
   font-size: 50px;
   cursor: pointer;
}

#safety .box img {
   width: 300px;
}

#safety .s2 .box img {
   width: 350px;
   margin-right: 3rem;
}
#safety .s3 .box img {
   width: 280px;
}

#safety .arrow {
   border: solid rgb(7, 112, 103);
   border-width: 0 7px 7px 0;
   display: inline-block;
   padding: 20px;
}

#safety .right {
   transform: rotate(-45deg);
}

#safety .left {
   transform: rotate(135deg);
}

#safety h2 {
   text-align: center;
   color: #094b4b;
   font-size: 1.9rem;
}

#safety ul {
   padding-left: 2rem;
}

#safety ul li {
   list-style-type: disc;
   font-size: 1.2rem;
}

#safety .s6 .box {
   margin-top: 3rem;
}
