/* Safety Pic */

#safety {
   max-width: 800px;
   min-width: 800px;
   margin: auto;
   line-height: 1.8;
   font-weight: bold;
   margin-top: 1rem;
   overflow: hidden;
}

#safety .safetyContainer {
   display: flex;
   width: 100%;
   height: 500px;
}

#safety h3 {
   color: #f4f4f4;
   padding: 0.7rem;
   padding-left: 3rem;
   width: 700px;
   margin-bottom: 1rem;
   font-size: 1.4rem;
}

.safetyContainer > div {
   min-width: 800px;
   padding-left: 2.5rem;
   margin-top: 1rem;
}

#safety .box {
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
}

#safety p {
   font-size: 1.4rem;
   margin-top: -4rem;
   padding: 1rem;
   margin-right: 1.5rem;
}

#safety .s1 h3 {
   background-color: rgb(37, 122, 62);
}
#safety .s2 h3 {
   background-color: rgb(18, 106, 184);
}
#safety .s3 h3 {
   background-color: rgb(189, 189, 58);
}
#safety .s4 h3 {
   background-color: rgb(253, 182, 48);
}
#safety .s5 h3 {
   background-color: rgb(185, 27, 27);
}
#safety .s6 h3 {
   background-color: rgb(138, 14, 150);
}
#safety button {
   padding: 2rem;
   margin: 2rem;
   margin-top: -2rem;
}
#safety i {
   opacity: 0.5;
   transition: 0.3s ease-in-out;
}
#safety i:hover {
   opacity: 1;
}

#safety #prevBtn {
   position: absolute;
   top: 50%;
   z-index: 10;
   left: 5%;
   font-size: 50px;
   color: rgb(96, 17, 243);
   cursor: pointer;
}

#safety #nextBtn {
   position: absolute;
   top: 50%;
   z-index: 10;
   right: 5%;
   font-size: 50px;
   color: rgb(51, 10, 10);
   cursor: pointer;
}
