/* @import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap'); */

:root {
   --main-bg-color: #ddf0ec;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

html,
body {
   line-height: 1.8;
   color: #333;
   /* scroll-behavior: smooth; */
   position: relative;
   margin-bottom: 25rem;
}

body {
   background: url('../img/background.jpg') no-repeat center center/cover;
   background-attachment: fixed;
}

#mainApp {
   position: absolute;
   margin-top: 23rem;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 960px;
   max-width: 960px;
   max-height: 720px;
   min-height: 720px;
   background-color: var(--main-bg-color);
}

#header .container {
   background-color: #61d3ba;
   display: flex;
   align-content: center;
   justify-content: center;
   padding: 0.5rem;
}

#header .btn {
   font-size: 1.3rem;
   font-weight: bold;
   color: white;
}

/* #header .btnHome {
   background: url('../img/home.jpg') no-repeat center center/cover;
   background-size: contain;
   border-radius: 50%;
} */

/* Initial Page */

.btnContainer {
   background-color: var(--main-bg-color);
   padding: 3rem;
   margin: auto;
}

.mainPageGrid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5rem;
   height: 500px;
   padding: 1.5rem;
}

.btnItem {
   padding: 3rem;
   font-size: 1.3rem;
   text-align: center;
   cursor: pointer;
   width: 100%;
   height: 100%;
   max-height: 100%;
   transition: 0.3s ease-in-out;
   border-radius: 10px;
   background-size: 100% 100% !important;
}

.btnItem:hover {
   transform: scale(1.05);
}

.item-1 {
   background: url('../img/safety.jpg') no-repeat center center/cover;
}

.item-2:hover.lazy {
   background-image: none;
}

.item-2 {
   background: url('../img/wash.jpg') no-repeat center center/cover;
}

.item-2:hover {
   background: url('../img/wash.gif') no-repeat center center/cover;
}
.item-3 {
   background: url('../img/update.jpg') no-repeat center center/cover;
}
.item-4 {
   background: url('../img/quiz.jpg') no-repeat center center/cover;
}

/* -------------- Utilities ------------- */
.mainContainer {
   max-width: inherit;
   min-width: inherit;
   max-height: 100%;
   margin: auto;
}

.container {
   background-color: var(--main-bg-color);
   padding: 2rem;
   min-width: 960px;
   max-width: 960px;
   margin: auto;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: #fff;
}

.btn {
   background-color: rgb(63, 63, 66);
   padding: 0.5rem 1.5rem;
   margin: 1rem 2rem;
   transition: 0.3s ease-in-out;
   font-size: 0.9rem;
   font-weight: bold;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
}

.btn:hover {
   opacity: 0.8;
}
